#hnav {
    position: absolute;
width: 100vw;
height: 44px;
left: 0px;
top: 50px;
z-index: -1;
background: #FEFCFB;
box-shadow: 0px 4px 6px rgba(10, 17, 40, 0.25);
margin: 0 auto;
display: grid;
grid-gap: 20px;
grid-template-columns: repeat(8, 1fr);
justify-content: center;
}

#access {
    grid-column: 7;
    align-content: center;
    margin-top: 9px;
}

#kits {
    grid-column: 6;
    justify-content: center;
    align-content: center;
    margin-top: 9px;
}

#pods {
    grid-column: 5;
    justify-content: center;
    align-content: center;
    margin-top: 9px;
}

#mods {
    grid-column: 4;
    justify-content: center;
    align-content: center;
    margin-top: 9px;
}

#liquids {
    grid-column: 3;
    justify-content: center;
    align-content: center;
    margin-top: 9px;
}

#home {
    grid-column: 2;
    justify-content: center;
    align-content: center;
    margin-top: 9px;
}

#home, #liquids, #mods, #pods, #kits, #access {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #000000;

}