*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    border:0;
    font-family: Roboto;
}

#back {
height: 50px;
width: 100vw;
left: 0px;
right: 0px;
top: 0px;
background: #001F54;
box-shadow: 0px 4px 4px rgba(86, 82, 84, 0.5);
display: grid;
grid-template-columns: repeat(28, 1fr);
grid-gap: 20px;
margin: 0 auto;
}

#logo {
    width: 40px;
height: 34px;
margin-top: 6px;

}

#signup {
    grid-column: 26/ span 2;
    text-align: center;
    height: 28px;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 1.25vw;
line-height: 21px;
text-align: center;
margin-top: 7px;
color: #FFFFFF;
}

#login {
    grid-column: 24/ span 2;
    text-align: center;
    height: 28px;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 1.25vw;
line-height: 21px;
text-align: center;
margin-top: 7px;
color: #FFFFFF;
}

#account {
    grid-column: 22;
    margin-top: 10px;
}

#cart {
    grid-column: 21;
    margin-top: 10px;
}

#search {
    grid-column: 6/ span 9;
    margin-top: 10px;
height: 31px;
background: #FFFFFF;
}

#searchlogo {
    margin-top: 10px;
    margin-left: -2.5vw;
}

#cname {
    margin-top:14px;
    grid-column: 3/span 3;
    height: 26px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 1.25vw;
line-height: 21px;

color: #FFFFFF;
}

#logo {
    margin-top: 6px;
    grid-column: 2;
    width: 40px;
height: 34px;
}